
@{
    ViewData["Title"] = "Administrador";
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrador</title>
    <link rel="stylesheet" href="~/css/estiloslogeado.css">
    <link rel="stylesheet" href="~/css/stylelogeado.css" asp-append-version="true" />
</head>
<body>
    <h2> Administrador </h2>
</body>
</html>

