@{
    ViewData["Recover Password"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <form asp-action="RecoverPassword" method="post">
        <div class="w-75">
            <div class="mb-3">
                <label for="correo" class="form-label">Correo</label>
                <input type="text" class="form-control" id="correo">
                <div id="emailHelp" class="form-text">Formulario para recordar contraseña</div>
            </div>

            <button type="submit" class="btn btn-primary" >Submit</button>
        </div>
    </form>
</div>
