@{
    ViewData["Recover Password"] = "Recover";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RecoverPassword</title>
    <link rel="stylesheet" href="~/css/RecoverPassword.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/GHV.styles.css" asp-append-version="true" />
</head>
<!--cuerpo-->
<body class="recover-password-page">
<!--contenedor principal-->
<div class="main-container">
    <!--contenedor del formulario-->
    <div class="form-container">
            <!-- modelo -->
            @model Usuario
             <p class="title">Bienvenido, aqui puedes recuperar tu contraseña </p>
             <!--formulario funcion del controlador(asp-action="RecoverPassword") con su metodo post -->
            <form asp-action="RecoverPassword" method="post">
                <div class="w-75">
                    <div class="mb-4">
                        <label for="correo" class="form-label">Correo</label>
                        <!--input que tiene el vallor del correo-->
                        <input type="email" class="input" placeholder="Email" id="Email" name="Email" asp-for="Email" required>
                    </div>
                    <!-- boton para enviar el valor del correo-->
                    <button type="submit" class="btn form-btn ">Enviar</button>
                </div>
            </form>
    </div>
</div>
</body>