@{
    ViewData["Recover Password"] = "Home Page";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RecoverPassword</title>
    <link rel="stylesheet" href="~/css/RecoverPassword.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/GHV.styles.css" asp-append-version="true" />
</head>
<body class="recover-password-page">
<div class="main-container">
    <div class="form-container">
            @model Usuario
             <p class="title">Bienvenido, aqui puedes recuperar tu contraseña </p>
            <form asp-action="RecoverPassword" method="post">
                <div class="w-75">
                    <div class="mb-4">
                        <label for="correo" class="form-label">Correo</label>
                        <input type="email" class="input" placeholder="Email" id="Email" name="Email" asp-for="Email" required>
                        <div id="emailHelp" class="form-text">Formulario para recordar contraseña</div>
                    </div>

                    <button type="submit" class="btn form-btn ">Enviar</button>
                </div>
            </form>
    </div>
</div>
</body>