@{
    ViewData["Title"] = "Home Page";
}
<!-- home start -->
<section class="bg-home bg-gradient" id="home">
    <div class="home-center">
        <div class="home-desc-center">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="home-title mo-mb-20">
                            <h1 class="mb-4 text-white">¿Cansado de las hojas de vida desorganizadas y poco
                                atractivas?</h1>
                            <h3 class="mb-2 text-white">¡Toma el control de tu futuro profesional con
                                nuestra plataforma de gestión de hojas de vida!</h3>
                            <p class="text-white-50 home-desc mb-5">Crea un CV profesional en minutos, personalízalo
                                a tu gusto y gestiona tus candidaturas de forma eficiente.
                                <br>
                                ¡Destaca entre los demás y consigue el trabajo que deseas!
                                <br><br>
                                Nuestra plataforma te ofrece:
                                <br>
                                Plantillas profesionales para crear un CV atractivo y efectivo.
                                Editor fácil de usar para personalizar tu CV a tu gusto.
                                Posibilidad de guardar múltiples versiones de tu CV.
                                Herramienta de búsqueda de empleo para encontrar las ofertas más relevantes.
                                Gestor de candidaturas para organizar y seguir el progreso de tus postulaciones.
                                ¡Regístrate hoy mismo y empieza a construir tu futuro profesional!
                            </p>
                            <div class="subscribe">
                                <form>
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="mb-2">
                                                <input type="text" class="form-control" placeholder="Ingresa tu correo">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <button type="submit" class="btn btn-primary">Suscríbete</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 offset-xl-2 col-lg-5 offset-lg-1 col-md-7">
                        <div class="home-img position-relative">
                            <img src="/assets/hv-1.png" alt="" class="home-first-img">
                            <img src="/assets/hv-2.png" alt="" class="home-second-img mx-auto d-block">
                            <img src="/assets/hv-3.png" alt="" class="home-third-img">
                        </div>
                    </div>
                </div>
                <!-- end row -->
            </div>
            <!-- end container-fluid -->
        </div>
    </div>
</section>

<!-- clients start -->
<section>
    <div class="container-fluid">
        <div class="clients p-4 bg-white">
            <div class="row">
                <div class="col-md-4">
                    <div class="client-images">
                        <img src="/assets/logo-sistecredito-300x66.webp" alt="logo-img"
                            class="mx-auto img-fluid d-block">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="client-images">
                        <img src="/assets/logo-celsia-300x95.webp" alt="logo-img" class="mx-auto img-fluid d-block">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="client-images">
                        <img src="/assets/Recurso-3-300x97.webp" alt="logo-img" class="mx-auto img-fluid d-block">
                    </div>
                </div>
            </div> <!-- end row -->
        </div>
    </div> <!-- end container-fluid -->
</section>
<!-- clients end -->

<!-- features start -->
<section class="section-sm" id="features">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="text-center mb-4 pb-1">
                    <h3 class="mb-3">Personaliza tus hojas de vida de una manera fácil y rápida</h3>
                    <p class="text-muted">El dashboard de personalización te permitirá crear, editar y descargar tus
                        hojas de vida. Está diseñado intuitivamente para que cualquier usuario pueda usarlo.</p>
                </div>
            </div>
        </div>
        <!-- end row -->

        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="features-box">
                    <div class="features-img mb-4">
                        <img src="/assets/layers.png" alt="">
                    </div>
                    <h4 class="mb-2">Diseños Confiables</h4>
                    <p class="text-muted">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit</p>
                </div>
            </div>
            <!-- end col -->
            <div class="col-lg-4 col-md-6">
                <div class="features-box">
                    <div class="features-img mb-4">
                        <img src="/assets/core.png" alt="">
                    </div>
                    <h4 class="mb-2">basado en la IA Riwi</h4>
                    <p class="text-muted">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium</p>
                </div>
            </div>
            <!-- end col -->
            <div class="col-lg-4 col-md-6">
                <div class="features-box">
                    <div class="features-img mb-4">
                        <img src="/assets/paperdesk.png" alt="">
                    </div>
                    <h4 class="mb-2">Diseños Creativos</h4>
                    <p class="text-muted">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>
                </div>
            </div>
            <!-- end col -->

            <div class="col-lg-4 col-md-6">
                <div class="features-box">
                    <div class="features-img mb-4">
                        <img src="/assets/solarsystem.png" alt="">
                    </div>
                    <h4 class="mb-3">Soporte Asombroso</h4>
                    <p class="text-muted">At solmen va esser necessi far uniform grammatica pronun e plu sommun paroles.
                    </p>
                </div>
            </div>
            <!-- end col -->
            <div class="col-lg-4 col-md-6">
                <div class="features-box">
                    <div class="features-img mb-4">
                        <img src="/assets/datatext.png" alt="">
                    </div>
                    <h4 class="mb-3">Fácil de Personalizar</h4>
                    <p class="text-muted">If several languages coalesce the grammar of the is more simple languages.</p>
                </div>
            </div>
            <!-- end col -->
            <div class="col-lg-4 col-md-6">
                <div class="features-box">
                    <div class="features-img mb-4">
                        <img src="/assets/browserscript.png" alt="">
                    </div>
                    <h4 class="mb-3">Codigo avanzado</h4>
                    <p class="text-muted">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>
                </div>
            </div>
            <!-- end col -->
        </div>
        <!-- end row -->
    </div> <!-- end container-fluid -->
</section>
<!-- features end -->

<!-- testimonial start -->
<section class="section bg-light" id="clients">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="text-center mb-4">
                    <h3>Lo que dicen nuestros usuarios</h3>
                    <p class="text-muted">Personaliza tus hojas de vida de una manera fácil y rápida.El dashboard de
                        personalización te permitirá crear, editar y descargar tus
                        hojas de vida. Está diseñado intuitivamente para que cualquier usuario pueda usarlo.</p>
                </div>
            </div>
        </div>
        <!-- end row -->
        <div class="row">
            <div class="col-lg-4">
                <div class="testi-box mt-4">
                    <div class="testi-desc bg-white p-4">
                        <p class="text-muted mb-0">" Gracias a esta plataforma, pude organizar y actualizar mi hoja de
                            vida de manera sencilla y eficiente. La funcionalidad de compartir mi CV con un enlace
                            público ha sido un cambio de juego en mis procesos de solicitud de empleo. ¡Altamente
                            recomendada!. "</p>
                    </div>
                    <div class="p-4">
                        <div class="testi-img float-start me-2">
                            <img src="/assets/img-2.png" alt="" class="rounded-circle">
                        </div>
                        <div>
                            <h5 class="mb-0">Michael Morrell</h5>
                            <p class="text-muted m-0"><small>- Gerente de Proyecto</small></p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end col -->
            <div class="col-lg-4">
                <div class="testi-box mt-4">
                    <div class="testi-desc bg-white p-4">
                        <p class="text-muted mb-0">" La interfaz intuitiva de la plataforma hace que crear y editar mi
                            hoja de vida sea rápido y sin complicaciones. Además, la opción de descargar mi CV en PDF y
                            generar informes en Excel ha sido muy útil en mis entrevistas laborales. ¡Excelente
                            herramienta!" "</p>
                    </div>
                    <div class="p-4">
                        <div class="testi-img float-start me-2">
                            <img src="/assets/img-1.png" alt="" class="rounded-circle">
                        </div>
                        <div>
                            <h5 class="mb-0">John Seidel</h5>
                            <p class="text-muted m-0"><small>- Desarrollador de Software</small></p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end col -->
            <div class="col-lg-4">
                <div class="testi-box mt-4">
                    <div class="testi-desc bg-white p-4">
                        <p class="text-muted mb-0">" Desde que empecé a usar esta plataforma, gestionar y actualizar mi
                            hoja de vida nunca había sido tan fácil. La posibilidad de registrar toda mi información y
                            compartirla con un simple enlace ha mejorado significativamente mi proceso de búsqueda de
                            empleo. "</p>
                    </div>
                    <div class="p-4">
                        <div class="testi-img float-start me-2">
                            <img src="/assets/img-3.png" alt="" class="rounded-circle">
                        </div>
                        <div>
                            <h5 class="mb-0">Robert Taylor</h5>
                            <p class="text-muted m-0"><small>- Diseñador Gráfico</small></p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end col -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container-fluid -->
</section>
<!-- testimonial end -->


<!-- footer start -->
<footer class="bg-dark footer">
    <div class="container-fluid">
        <div class="row mb-5">
            <div class="col-lg-4">
                <div class="pe-lg-4">
                    <div class="mb-4">
                        <img src="assets/logo-512x512.webp" alt="" height="30">
                    </div>
                    <p class="text-white-50">Gestión Hojas de vida</p>
                    <p class="text-white-50 mb-4 mb-lg-0">GHV es una plataforma de administración de hojas de vida para
                        crear y gestionar tus hojas de vida.</p>
                </div>
            </div>

            <div class="col-lg-2 col-md-6">
                <div class="footer-list">
                    <p class="text-white mb-2 footer-list-title">About</p>
                    <ul class="list-unstyled">
                        <li><a asp-controller="Home" asp-action="Index"><i
                                    class="mdi mdi-chevron-right me-2"></i>Home</a></li>
                        <li><a asp-controller="Register" asp-action="Register"><i
                                    class="mdi mdi-chevron-right me-2"></i>Registrarse</a></li>
                        <li><a asp-controller="Login" asp-action="Login"><i
                                    class="mdi mdi-chevron-right me-2"></i>Usuarios</a></li>
                        <li><a href="#"><i class="mdi mdi-chevron-right me-2"></i>Aliados</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-2 col-md-6">
                <div class="footer-list">
                    <p class="text-white mb-2 footer-list-title">Social</p>
                    <ul class="list-unstyled">
                        <li><a href="#"><i class="mdi mdi-chevron-right me-2"></i>Facebook </a></li>
                        <li><a href="#"><i class="mdi mdi-chevron-right me-2"></i>Twitter</a></li>
                        <li><a href="#"><i class="mdi mdi-chevron-right me-2"></i>Behance</a></li>
                        <li><a href="#"><i class="mdi mdi-chevron-right me-2"></i>Dribble</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-2 col-md-6">
                <div class="footer-list">
                    <p class="text-white mb-2 footer-list-title">Support</p>
                    <ul class="list-unstyled">
                        <li><a href="#"><i class="mdi mdi-chevron-right me-2"></i>Help & Support</a></li>
                        <li><a asp-controller="Home" asp-action="Privacy"><i
                                    class="mdi mdi-chevron-right me-2"></i>Privacy Policy</a></li>
                        <li><a href="#"><i class="mdi mdi-chevron-right me-2"></i>Terms & Conditions</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-2 col-md-6">
                <div class="footer-list">
                    <p class="text-white mb-2 footer-list-title">More Info</p>
                    <ul class="list-unstyled">
                        <li><a href="#"><i class="mdi mdi-chevron-right me-2"></i>Pricing</a></li>
                        <li><a href="#"><i class="mdi mdi-chevron-right me-2"></i>For Marketing</a></li>
                        <li><a href="#"><i class="mdi mdi-chevron-right me-2"></i>For Agencies</a></li>
                        <li><a href="#"><i class="mdi mdi-chevron-right me-2"></i>Our Apps</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- end row -->

        <div class="row">
            <div class="col-lg-12">
                <div class="float-start pull-none">
                    <p class="text-white-50">
                        <script>document.write(new Date().getFullYear())</script> &copy;GHV. Desarrollado por los peaky
                        blinders <a href="https://riwi.io/" target="_blank" class="text-white-50">RIWI</a>
                    </p>
                    <!-- <p class="text-white-50">2015 - 2020 © Ubold. Design by <a href="https://coderthemes.com/" target="_blank" class="text-white-50">Coderthemes</a> </p> -->
                </div>
                <div class="float-end pull-none">
                    <ul class="list-inline social-links">
                        <li class="list-inline-item text-white-50">
                            Social :
                        </li>
                        <li class="list-inline-item"><a href="#"><i class="mdi mdi-facebook"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="mdi mdi-twitter"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="mdi mdi-instagram"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="mdi mdi-google-plus"></i></a></li>
                    </ul>
                </div>
            </div>
            <!-- end col -->
        </div>
        <!-- end row -->
    </div>
    <!-- container-fluid -->
</footer>
<!-- footer end -->

<!-- Back to top -->
<!--<a href="#" class="back-to-top" id="back-to-top"> <i class="mdi mdi-chevron-up"> </i> </a> -->
<!-- Back to top -->
<a href="#" onclick="topFunction()" class="back-to-top-btn btn btn-primary" id="back-to-top-btn"><i
        class="mdi mdi-chevron-up"></i></a>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

<!-- custom js -->
<script src="js/app.js"></script>
